<div id="page" class="row">

  <style>
    /* centered columns styles */
    .row-centered {
        text-align:center;
    }
    .col-centered {
        display:inline-block;
        float:none;
        /* reset the text-align */
        text-align:left;
        /* inline-block space fix */
        margin-right:-4px;
    }
    .formItems input{
      
      border-radius:25px;
      width:90%;
    } 
    .formItems textarea{
      width: 90%;
      border-radius:15px;
    }
    .formItems {
      margin-left:5%;
    }
    .pad {
      padding-top: -9px;
      padding-bottom: -px;
      margin-top: -9px;
      margin-bottom: -8px;
    }
    @media (max-width: 900px) { 
      .hide { 
        display:none;
      }
      .full{
        display: inline;
      } 
    }
  
  </style>
  
  <div class="row row-centered pad" 
       style="color:#fff;
              background-image:url(https://cdn.shopify.com/s/files/1/0605/4057/t/2/assets/bgfullAbout.jpg);
              background-size:cover;">
  
    <div class="col-md-6 col-centered full pad">
    <br>
    <img class="pad" src="https://cdn.shopify.com/s/files/1/0605/4057/t/2/assets/bgAbout.jpg" alt="">
    <h1 style="color:#fff;" class="row-centered"></h1>
    <h4 style="color:#fff;"></h4>
    
    </div>
</div>
  
</div>